<html>
   <head>
       <meta charset="utf-8">
       <title> In Nature </title>
       <link rel="stylesheet" type="text/css" href="style.css">
   </head>
   <body>
    <h1>Trails to Health</h1>
    <div class="trail_reccomendation">
       <br>
        <form action="greet" method="post">
        <p> Ready to explore? </p>
            <label for="zip_code"> Your Zip</label>
            <input id="zip" name="zip" type="text" inputmode="numeric" placeholder="13210" pattern="^\d{5}">
            <label for="transport_mode">  Exploration mode</label>
            <select id="exploration_mode">
                <option value="transport_mode">Select exploration mode</option>
                <option value="transport_mode">Walk</option>
                <option value="transport_mode">Bike</option>
                <option value="transport_mode">Motor Vehicle</option>
                <option value="transport_mode">Snowmobile</option>
                <option value="transport_mode">Horse riding</option>
            </select>
            <label for="elevation_gain">  Elevation gain</label>
            <select id="elevation gain">
                <option value="elevation">Select elevation gain</option>
                <option value="transport_mode">Plain</option>
                <option value="transport_mode">Medium</option>
                <option value="transport_mode">High</option>
            </select>
            <label for="Trail_length">  Trail length</label>
            <select id="trail_length">
                <option value="elevation">Select trail length</option>
                <option value="transport_mode">Short</option>
                <option value="transport_mode">Medium</option>
                <option value="transport_mode">Long</option>
            </select>
            <label for="experience">Experience Level</label> 
            <select id="experience">
                <option value="experience">Select experience</option>
                <option value="transport_mode">Beginner</option>
                <option value="transport_mode">Moderate</option>
                <option value="transport_mode">Experienced</option>
            </select>  
        <input type="submit" value="Let's go!" id="mode">
        </form>
        <iframe src="map.html" width="100%" height="500"></iframe>
   </body>
</html>